# Środowisko: Python 3, venv lokalny w ./venv
# Instalacja:  python3 -m venv venv && source venv/bin/activate && pip install -r requirements.txt
pandas==3.0.3
numpy==2.4.6
duckdb==1.5.3
pyarrow==24.0.0
matplotlib==3.10.9
seaborn==0.13.2
plotly==6.7.0
jupyter
ipykernel==7.2.0
scipy==1.17.1
